.navbar-nav {
  .nav-item {
    margin-top: 24px;

    @include media-breakpoint-up(lg) {
      margin-top: 0;
      margin-right: 20px;
    }
  }

  .nav-link {
    padding: 12px;

    &:hover {
      color: $primary;
    }

    &.active {
      color: $primary;
    }

    @include media-breakpoint-up(lg) {
      padding: 8px 20px;
    }
  }
}

.navbar {
  border-bottom: 1px solid transparent;
  transition: box-shadow 0.25s ease, border-color 0.25s ease;

  &.navbar-scrolled {
    border-bottom: 1px solid rgba($black, 0.055);
    box-shadow: 0 1px 1px rgba($black, 0.06), 0 2px 4px rgba($black, 0.05);
  }
}