.tag {
  display: inline-block;
  font-size: 14px;
  line-height: 1.2;
  padding: 6px 12px;
  border-radius: 16px;
  font-weight: 500;
  
  &-glass {
    color: rgba($white, 0.9);
    background: rgba($black, 0.4);
    border: 1px solid rgba($white, 0.2);
  }
}