.hover-shadow {
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 2px 4px rgba($black, 0.04), 0 8px 12px rgba($black, 0.06), 0 16px 24px rgba($black, 0.08);
  }
}

.hover-primary:hover {
  color: $primary;
}